In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [5]:
data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

### Qn 1

In [6]:
my_list= [1,2,3,4,5,6]

In [7]:
B= [13,21,34]

In [8]:
my_list.extend(B)

In [10]:
my_list

[1, 2, 3, 4, 5, 6, 13, 21, 34]

### Qn 2

In [11]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Qn 3

In [14]:
data.groupby('fuel_type_code_pudl').mean()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

### Qn 4

In [16]:
data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

### Qn 5

In [19]:
data['fuel_qty_burned'].skew()

15.851495469109503

In [20]:
data['fuel_qty_burned'].kurt()

651.3694501337732

### Qn 6

In [22]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [24]:
180/29523*100

0.609694136774718

### Qn 7

The feature with the missing values contains categorical data, hence should be replaced with the value with the highest occurence(mode)

### Qn 8

In [26]:
data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

### Qn 9

In [28]:
data.groupby('report_year').mean()

,utility_id_ferc1,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
report_year,,,,,,
1994,106.120648,2.724018e+06,10.638098,213.191996,63.636060,3.086977
1995,110.139051,3.712067e+06,10.644830,354.422555,32.735269,2.868838
1996,108.714154,2.544754e+06,10.778041,79.434995,9196.705948,2.695880
1997,108.366545,2.813503e+06,10.247632,149.482132,11140.197239,3.113486
1998,109.845528,3.267453e+06,10.704964,126.683519,287.154420,2.775862
1999,108.222857,3.281281e+06,10.558885,120.053605,25.551627,2.740251
2000,111.083758,2.472032e+06,9.224475,237.797111,985.362877,4.208403
2001,113.521386,2.321402e+06,8.371469,133.013010,60.050396,4.612658
2002,120.354357,2.145645e+06,8.304833,101.179365,47.594361,6.226281
2003,123.300578,1.888622e+06,8.403746,123.183919,55.663493,7.223933
2004,121.123322,1.782547e+06,8.332425,154.897398,139.524275,8.441597
2005,121.028369,1.768876e+06,8.135972,107.111221,41.438184,9.397078
2006,117.178600,1.957264e+06,8.138090,151.361249,38.657484,10.339898
2007,116.040348,2.035696e+06,8.027581,202.622082,43.325023,10.735181
2008,120.785016,2.046455e+06,7.892854,255.954415,58.588197,12.690115
2009,118.139116,2.154993e+06,7.688192,215.699318,652.694163,10.619376
2010,117.992863,2.423720e+06,7.575013,262.951203,91.862105,8.551217
2011,121.069355,2.461332e+06,7.786182,301.754519,59.774667,9.237591
2012,120.769912,2.747094e+06,7.796063,258.804138,60.994502,8.808904
2013,122.082569,2.741505e+06,7.797024,255.991023,172.307591,9.308225
2014,129.263877,2.700008e+06,7.588334,442.359068,192.737183,10.064673
2015,128.591949,3.340131e+06,7.217820,237.933197,326.535511,8.054361
2016,133.117021,3.693289e+06,6.846478,247.083959,103.901761,6.915613
2017,131.126888,3.352850e+06,6.781353,246.281796,46.196861,368.736351
2018,133.669821,4.178890e+06,6.596546,232.992036,499.269966,7.233643

### Qn 10

In [29]:
data.groupby('fuel_cost_per_unit_delivered').mean()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_mmbtu
fuel_cost_per_unit_delivered,,,,,,
-874.937,177.0,2008.0,8.110000e+02,5.754000,86.628000,15.055000
-488.054,177.0,2007.0,2.240000e+03,5.754000,77.605000,13.487000
-313.410,210.0,2004.0,5.880000e+02,5.712420,38.722000,6.779000
-174.670,194.0,2000.0,7.733333e+01,0.015500,-191.353333,-6.173000
-170.187,6.0,2015.0,2.292000e+03,5.727204,123.751000,21.608000
-118.340,281.0,2003.0,1.159000e+03,0.012731,-119.040000,-5.750000
-93.470,17.0,2013.0,5.132000e+03,5.795244,109.168000,18.838000
-91.900,17.0,2012.0,9.100000e+02,5.976012,76.537000,12.807000
-85.640,194.0,1995.0,5.724500e+03,0.013437,-85.755000,-3.190500
-62.290,266.0,2008.0,1.871100e+04,5.867610,166.370000,28.354000
-60.290,281.0,2002.0,1.054100e+04,0.012657,-59.680000,-3.100000
-58.800,194.0,1994.0,5.920667e+03,0.014517,-57.470000,-1.979667
-53.560,194.0,1995.0,1.277333e+03,0.013429,-53.630000,-1.996000
-44.050,194.0,1996.0,9.192667e+03,0.013778,-45.130000,-1.636667
-43.747,121.0,1998.0,4.830200e+04,0.005780,-43.712000,-3.781000
-43.419,42.0,2011.0,2.370000e+02,5.756772,48.082000,8.352000
-42.290,121.0,1995.0,4.719000e+04,0.006042,-42.679000,-3.532000
-41.501,121.0,1996.0,4.705200e+04,0.006143,-41.501000,-41.501000
-40.725,41.0,2016.0,3.240210e+05,17.198000,39.759000,2.312000
-40.195,121.0,2002.0,3.951900e+04,0.005602,-39.675000,-3.541000
-38.972,121.0,1997.0,4.628500e+04,0.005967,-38.966000,-3.255000
-37.790,121.0,2001.0,4.799500e+04,0.005709,-37.809000,-3.312000
-35.380,121.0,1994.0,5.172800e+04,0.005846,-35.100000,-3.003000
-34.846,121.0,2003.0,5.248400e+04,0.006599,-34.858000,-2.641000
-32.970,121.0,1999.0,4.909400e+04,0.005790,-33.014000,-2.851000
-31.501,121.0,2005.0,5.348700e+04,0.006038,-31.501000,-2.609000
-30.035,121.0,2004.0,5.516600e+04,0.006046,-30.032000,-2.484000
-24.295,121.0,2006.0,5.252900e+04,0.005850,-24.295000,-2.076000
-17.008,121.0,2000.0,4.444600e+04,0.005907,-40.536000,-3.431000
-14.240,194.0,2000.0,1.235333e+03,19.300000,43.506667,2.254333
...,...,...,...,...,...,...
16378.320,44.0,2014.0,1.118000e+03,5.821956,121.710000,20.910000
26340.000,142.0,2000.0,1.300380e+05,24.780000,28727.000000,1.559290
26714.000,75.0,1998.0,8.391640e+05,17.570000,29.454000,1.676000
29303.000,20.0,2000.0,1.794035e+06,22.490000,29257.000000,1.300000
31416.000,57.0,2002.0,1.633700e+04,5.817000,31.416000,5.400000
34381.000,89.0,2001.0,2.212000e+03,5.696082,30220.000000,5.305000
34518.000,270.0,2003.0,3.046700e+04,6.294100,34518.000000,5.484000
41497.000,266.0,2000.0,3.549000e+03,5.802426,37.590000,6.479000
42249.000,266.0,2000.0,4.066000e+03,5.794110,41.770000,7.209000
44033.320,122.0,2010.0,1.138599e+06,16.860000,44033.320000,0.948000
45115.000,62.0,1994.0,1.778788e+06,23.580000,44.147000,1.872000
69440.000,101.0,2016.0,2.820600e+04,5.922000,67.840000,11.455000
72916.000,148.0,2015.0,1.812000e+03,5.880504,84.420000,14.360000
76656.000,9.0,1996.0,1.698000e+03,5.859840,45.140000,7.704000
88419.000,44.0,2018.0,4.707300e+04,5.854002,87.498000,14.953000
92484.000,132.0,2018.0,6.869000e+03,5.880000,91.350000,15.536000
94096.000,98.0,2015.0,9.000000e+01,5.754000,155.154000,20.178000
132884.000,266.0,2004.0,1.392100e+04,5.581128,36.540000,6.548000
135315.000,42.0,2013.0,6.838000e+03,5.761476,136.886000,23.759000
136410.000,147.0,2014.0,4.941800e+04,6.172572,139358.000000,22.577000
140706.000,147.0,2015.0,5.206100e+04,6.096972,95.659000,15.690000
245652.000,132.0,2018.0,8.799450e+05,13.928000,24.777000,1.779000
270604.000,31.0,1998.0,1.274730e+05,24.062000,28.521000,1.185000
730166.000,31.0,2009.0,1.204300e+04,5.777184,92.427000,15.999000
1168000.000,147.0,2000.0,4.870000e+02,0.066704,30245.360000,0.453000
1942979.000,9.0,1997.0,5.252600e+04,0.000066,39.660000,0.560000
2114508.000,9.0,1996.0,5.879500e+04,0.000065,35.964000,0.095000
2255688.000,9.0,1997.0,3.691900e+04,0.000056,61.100000,1.087000
7793482.000,9.0,1996.0,2.114070e+05,0.000065,36.865000,0.145000
7964521.000,9.0,1997.0,2.104740e+05,0.000065,37.847000,0.578000